{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <div>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
        <div style="color:red;">{{ error }}</div>
      {% endfor %}
    </div>

    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <div style="color:red;">{{ error }}</div>
      {% endfor %}
    </div>

    <div>
      {{ form.role.label }}<br>
      {{ form.role() }}
      {% for error in form.role.errors %}
        <div style="color:red;">{{ error }}</div>
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
