{% extends 'base.html' %}

{% block style %}
<style>
  body {
    background-color: #f5f0e6; /* мек бежов фон */
  }
</style>
{% endblock %}

{% block content %}
  <div class="container mt-4 text-center">
    <h1 class="mb-4">Welcome to the House Price Predictor!</h1>
    <div class="d-flex justify-content-center gap-2">
      <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a>
      <a href="{{ url_for('auth.login') }}" class="btn btn-secondary">Login</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.edit_profile') }}" class="btn btn-warning">Редактиране на профил</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
