{% extends 'base.html' %}

{% block content %}
<div class="home-background">
  <div class="home-content text-center">
    <h1 class="mb-6 home-title">Welcome to the House Price Predictor!</h1>
    <div class="home-buttons">
      <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg">Register</a>
      <a href="{{ url_for('auth.login') }}" class="btn btn-secondary btn-lg">Login</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.edit_profile') }}" class="btn btn-warning btn-lg">Edit Profile</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
