{% extends 'base.html' %}
{% block content %}
  <h2>House Price Prediction</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.size.label }} {{ form.size(size=10) }} m² <br><br>
    {{ form.rooms.label }} {{ form.rooms(size=10) }} стаи <br><br>
    {{ form.submit(class="btn btn-primary") }}
  </form>

  {% if prediction %}
    <h3>Предсказана цена: €{{ prediction | round(2) }}</h3>
  {% endif %}

  {% if graph_url %}
    <h4>Графика на регресията:</h4>
    <img src="data:image/png;base64,{{ graph_url }}" alt="Regression Plot" class="img-fluid">
  {% endif %}
{% endblock %}
